.product-container{
    flex: 1 1 0;
}

.product-cover {
    width: 200px;
    height: 200px;
    object-fit: fill;
  }

.product-details, .fav-btn, .cart-btn{
    display: none;
}

.product-container:hover .product-details,
.product-container:hover .fav-btn,
.product-container:hover .cart-btn{
    display: block;
}

